In [1]:
import pandas as pd
from data_import import import_merged_data
# sklearn preproc
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import RobustScaler, OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StanrdardScaler #gaussian only
from sklearn.preprocessing import OneHotEncoder #categorical

In [1]:
from data_import import import_merged_data
df = import_merged_data()

Importing energy_dataset data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/energy_dataset.csv...
Importing weather_features data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/weather_features.csv...

In [ ]:
from data_import import import_clean_weather_data

In [4]:
df_weather = import_clean_weather_data()

Importing weather_features data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/weather_features.csv...

In [5]:
df_weather.head()

,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
time,,,,,,,,,,,,,,,,
2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [6]:
from data_import import import_clean_energy_data

In [7]:
df_energy = import_clean_energy_data()

Importing energy_dataset data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/energy_dataset.csv...

In [8]:
df_energy.head()

,generation_biomass,generation_fossil_brown_coal/lignite,generation_fossil_gas,generation_fossil_hard_coal,generation_fossil_oil,generation_hydro_pumped_storage_consumption,generation_hydro_run-of-river_and_poundage,generation_hydro_water_reservoir,generation_nuclear,generation_other,generation_other_renewable,generation_solar,generation_waste,generation_wind_onshore,forecast_solar_day_ahead,forecast_wind_onshore_day_ahead,total_load_forecast,total_load_actual,price_day_ahead,price_actual
time,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00+01:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
2015-01-01 01:00:00+01:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2015-01-01 02:00:00+01:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
2015-01-01 03:00:00+01:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
2015-01-01 04:00:00+01:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04

In [21]:
# Selecting some columns of interest
selected_features = ['generation_fossil_gas',
                     'generation_solar',
                    'total_load_forecast',
                     'hour',
                     'month',
                     'season', 
                     'weekend',
                     'day_of_week',
                     'valencia_temp',
                     'barcelona_wind_speed']

# Overwriting the "data" variable to keep only the columns of interest
# Notice the .copy() to copy the values 
data = df[selected_features].copy()

# Showing the first five rows
data.head()

,generation_fossil_gas,generation_solar,total_load_forecast,hour,month,season,weekend,day_of_week,valencia_temp,barcelona_wind_speed
time,,,,,,,,,,
2014-12-31 23:00:00+00:00,4844.0,49.0,26118.0,0,1,Winter,0,3,270.475,7
2015-01-01 00:00:00+00:00,5196.0,50.0,24934.0,1,1,Winter,0,3,270.475,7
2015-01-01 01:00:00+00:00,4857.0,50.0,23515.0,2,1,Winter,0,3,269.686,7
2015-01-01 02:00:00+00:00,4314.0,50.0,22642.0,3,1,Winter,0,3,269.686,7
2015-01-01 03:00:00+00:00,4130.0,42.0,21785.0,4,1,Winter,0,3,269.686,7

In [6]:
#Check for NaN percentage
round(data.isnull().sum().sort_values(ascending=False)/len(data),2)

generation_fossil_gas    0.0
generation_solar         0.0
total_load_forecast      0.0
hour                     0.0
month                    0.0
season                   0.0
weekend                  0.0
day_of_week              0.0
valencia_temp            0.0
barcelona_wind_speed     0.0
dtype: float64

In [8]:
data['valencia_temp'].sort_values()

time
2015-02-08 05:00:00+00:00    268.830656
2015-01-01 01:00:00+00:00    269.686000
2015-01-01 02:00:00+00:00    269.686000
2015-01-01 03:00:00+00:00    269.686000
2015-01-02 04:00:00+00:00    270.277000
                                ...
2015-05-14 12:00:00+00:00    310.272000
2015-07-07 12:00:00+00:00    310.300000
2015-07-07 15:00:00+00:00    310.520000
2015-07-07 14:00:00+00:00    310.710000
2017-06-27 16:00:00+00:00    311.150000
Name: valencia_temp, Length: 38522, dtype: float64

In [22]:
X = data
y = df['price_day_ahead']

In [17]:
# Ranking features by order of importance based on linear regression

import numpy as np
from sklearn.inspection import permutation_importance
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

model = LinearRegression()

# Base model
scores = cross_val_score(model, X, y, cv=10)
base_model_score = scores.mean()
print(f"The base model score is: {base_model_score}")


model = LinearRegression().fit(X, y) # Fit model
permutation_score = permutation_importance(model, X, y, n_repeats=100) # Perform Permutation
importance_df = pd.DataFrame(np.vstack((X.columns,
                                        permutation_score.importances_mean)).T) # Unstack results

importance_df.columns=['feature','feature importance'] # Change column names

importance_df.sort_values(by="feature importance", ascending = False, inplace=True) # Order by importance
importance_df

                 feature feature importance
0  generation_fossil_gas           0.480686
2    total_load_forecast           0.123863
4                  month           0.023139
8   barcelona_wind_speed           0.014714
1       generation_solar           0.004732
5                weekend           0.003924
7          valencia_temp            0.00097
3                   hour           0.000388
6            day_of_week            0.00032

In [14]:
X

,generation_fossil_gas,generation_solar,total_load_forecast,hour,month,season,weekend,day_of_week,valencia_temp,barcelona_wind_speed
time,,,,,,,,,,
2014-12-31 23:00:00+00:00,4844.0,49.0,26118.0,0,1,Winter,0,3,270.475,7
2015-01-01 00:00:00+00:00,5196.0,50.0,24934.0,1,1,Winter,0,3,270.475,7
2015-01-01 01:00:00+00:00,4857.0,50.0,23515.0,2,1,Winter,0,3,269.686,7
2015-01-01 02:00:00+00:00,4314.0,50.0,22642.0,3,1,Winter,0,3,269.686,7
2015-01-01 03:00:00+00:00,4130.0,42.0,21785.0,4,1,Winter,0,3,269.686,7
...,...,...,...,...,...,...,...,...,...,...
2018-12-31 18:00:00+00:00,7634.0,85.0,30619.0,19,12,Winter,0,0,285.640,1
2018-12-31 19:00:00+00:00,7241.0,33.0,29932.0,20,12,Winter,0,0,283.140,3
2018-12-31 20:00:00+00:00,7025.0,31.0,27903.0,21,12,Winter,0,0,281.660,4
2018-12-31 21:00:00+00:00,6562.0,31.0,25450.0,22,12,Winter,0,0,280.140,5
2018-12-31 22:00:00+00:00,6926.0,31.0,24424.0,23,12,Winter,0,0,279.140,5

In [ ]:
data = df[selected_features].copy()

int64      5
float64    4
object     1
dtype: int64

In [34]:
# categorical features to one-hot-encode
feat_categorical = list(feat_categorical_nunique[feat_categorical_nunique < 7].index)

In [ ]:
>>> from sklearn.impute import KNNImputer
>>> X = [[1, 2, np.nan], [3, 4, 3], [np.nan, 6, 5], [8, 8, 7]]
>>> imputer = KNNImputer(n_neighbors=2)
>>> imputer.fit_transform(X)

In [ ]:
preproc_numerical_baseline = make_pipeline(
    SimpleImputer(),
    MinMaxScaler())

preproc_categorical_baseline = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore"))

preproc_baseline = make_column_transformer(
    (preproc_numerical_baseline, make_column_selector(dtype_include=["int64", "float64"])),
    (preproc_categorical_baseline, feat_categorical_small),
    remainder="drop")

preproc_baseline

In [ ]:
# ordinale features to ordinal-encode
feat_ordinal = sorted(feat_ordinal_dict.keys()) # sort alphabetically
feat_ordinal_values_sorted = [feat_ordinal_dict[i] for i in feat_ordinal]

encoder_ordinal = OrdinalEncoder(
    categories=feat_ordinal_values_sorted,
    dtype= np.int64,
    handle_unknown="use_encoded_value",
    unknown_value=-1 # Considers unknown values as worse than "missing"
)

preproc_ordinal = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="missing"),
    encoder_ordinal,
    MinMaxScaler()
)

preproc_ordinal

In [ ]:
# Define numerical feature once-for-all
feat_numerical = sorted(X.select_dtypes(include=["int64", "float64"]).columns)

preproc_numerical = make_pipeline(
    KNNImputer(),
    MinMaxScaler()
)

In [ ]:
# Define nominal features to one-hot-encode as the remaining ones (non numerical, non ordinal)
feat_nominal = sorted(list(set(X.columns) - set(feat_numerical) - set(feat_ordinal)))

preproc_nominal = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore")
)

In [19]:
preproc = make_column_transformer(
    (preproc_numerical, feat_numerical),
    (preproc_ordinal, feat_ordinal),
    (preproc_nominal, feat_nominal),
    remainder="drop")

preproc

0.07118324868399639

In [28]:
X.columns

Index(['generation_fossil_gas', 'generation_solar', 'total_load_forecast',
       'hour', 'month', 'season', 'weekend', 'day_of_week', 'valencia_temp',
       'barcelona_wind_speed'],
      dtype='object')

In [ ]:
preproc_categorical = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore"))

preproc_baseline = make_column_transformer(
    (preproc_numerical_baseline, make_column_selector(dtype_include=["int64", "float64"])),
    (preproc_categorical_baseline, feat_categorical_small),
    remainder="drop")

In [44]:

X.dtypes.value_counts()

int64      5
float64    4
object     1
dtype: int64

In [59]:
len(data.select_dtypes(include=['int64','float64']).columns)

9

In [ ]:
# categorical features to one-hot-encode


feat_categorical_nunique.sum()
feat_categorical_nunique.hist();

In [74]:
df.columns

Index(['generation_biomass', 'generation_fossil_brown_coal/lignite',
       'generation_fossil_gas', 'generation_fossil_hard_coal',
       'generation_fossil_oil', 'generation_hydro_pumped_storage_consumption',
       'generation_hydro_run-of-river_and_poundage',
       'generation_hydro_water_reservoir', 'generation_nuclear',
       'generation_other', 'generation_other_renewable', 'generation_solar',
       'generation_waste', 'generation_wind_onshore',
       'forecast_solar_day_ahead', 'forecast_wind_onshore_day_ahead',
       'total_load_forecast', 'total_load_actual', 'price_day_ahead',
       'price_actual', 'hour', 'month', 'season', 'weekend', 'day_of_week',
       'valencia_temp', 'valencia_pressure', 'valencia_humidity',
       'valencia_wind_speed', 'valencia_wind_deg', 'valencia_rain_1h',
       'valencia_rain_3h', 'valencia_snow_3h', 'valencia_clouds_all',
       'valencia_weather_id', 'valencia_weather_main',
       'valencia_weather_description', 'madrid_temp', 'madrid_pressure',
       'madrid_humidity', 'madrid_wind_speed', 'madrid_wind_deg',
       'madrid_rain_1h', 'madrid_rain_3h', 'madrid_snow_3h',
       'madrid_clouds_all', 'madrid_weather_id', 'madrid_weather_main',
       'madrid_weather_description', 'bilbao_temp', 'bilbao_pressure',
       'bilbao_humidity', 'bilbao_wind_speed', 'bilbao_wind_deg',
       'bilbao_rain_1h', 'bilbao_rain_3h', 'bilbao_snow_3h',
       'bilbao_clouds_all', 'bilbao_weather_id', 'bilbao_weather_main',
       'bilbao_weather_description', 'barcelona_temp', 'barcelona_pressure',
       'barcelona_humidity', 'barcelona_wind_speed', 'barcelona_wind_deg',
       'barcelona_rain_1h', 'barcelona_rain_3h', 'barcelona_snow_3h',
       'barcelona_clouds_all', 'barcelona_weather_id',
       'barcelona_weather_main', 'barcelona_weather_description',
       'seville_temp', 'seville_pressure', 'seville_humidity',
       'seville_wind_speed', 'seville_wind_deg', 'seville_rain_1h',
       'seville_rain_3h', 'seville_snow_3h', 'seville_clouds_all',
       'seville_weather_id', 'seville_weather_main',
       'seville_weather_description'],
      dtype='object')

In [41]:
# numerical features to min_max_scale

feat_numeric_min_max = ['generation_fossil_gas', 'generation_solar', 'total_load_forecast', 'valencia_temp',
       'barcelona_wind_speed']

In [ ]:
from data_import import import_merged_data

In [71]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder #categorical
from sklearn.preprocessing import FunctionTransformer
#from sklearn.preprocessing import RobustScaler
#from sklearn.preprocessing import StandardScaler #gaussian only

#from sklearn.pipeline import Pipeline, make_pipeline
#from sklearn.impute import SimpleImputer, KNNImputer

In [75]:
feature_data = import_merged_data()

Importing energy_dataset data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/energy_dataset.csv...
Importing weather_features data from /home/marvin/code/MarvinLiebisch/forecasting-electricity-prices/raw_data/weather_features.csv...

In [76]:
feature_data.columns

Index(['generation_biomass', 'generation_fossil_brown_coal/lignite',
       'generation_fossil_gas', 'generation_fossil_hard_coal',
       'generation_fossil_oil', 'generation_hydro_pumped_storage_consumption',
       'generation_hydro_run-of-river_and_poundage',
       'generation_hydro_water_reservoir', 'generation_nuclear',
       'generation_other', 'generation_other_renewable', 'generation_solar',
       'generation_waste', 'generation_wind_onshore',
       'forecast_solar_day_ahead', 'forecast_wind_onshore_day_ahead',
       'total_load_forecast', 'total_load_actual', 'price_day_ahead',
       'price_actual', 'hour', 'month', 'season', 'weekend', 'day_of_week',
       'valencia_temp', 'valencia_pressure', 'valencia_humidity',
       'valencia_wind_speed', 'valencia_wind_deg', 'valencia_rain_1h',
       'valencia_rain_3h', 'valencia_snow_3h', 'valencia_clouds_all',
       'valencia_weather_id', 'valencia_weather_main',
       'valencia_weather_description', 'madrid_temp', 'madrid_pressure',
       'madrid_humidity', 'madrid_wind_speed', 'madrid_wind_deg',
       'madrid_rain_1h', 'madrid_rain_3h', 'madrid_snow_3h',
       'madrid_clouds_all', 'madrid_weather_id', 'madrid_weather_main',
       'madrid_weather_description', 'bilbao_temp', 'bilbao_pressure',
       'bilbao_humidity', 'bilbao_wind_speed', 'bilbao_wind_deg',
       'bilbao_rain_1h', 'bilbao_rain_3h', 'bilbao_snow_3h',
       'bilbao_clouds_all', 'bilbao_weather_id', 'bilbao_weather_main',
       'bilbao_weather_description', 'barcelona_temp', 'barcelona_pressure',
       'barcelona_humidity', 'barcelona_wind_speed', 'barcelona_wind_deg',
       'barcelona_rain_1h', 'barcelona_rain_3h', 'barcelona_snow_3h',
       'barcelona_clouds_all', 'barcelona_weather_id',
       'barcelona_weather_main', 'barcelona_weather_description',
       'seville_temp', 'seville_pressure', 'seville_humidity',
       'seville_wind_speed', 'seville_wind_deg', 'seville_rain_1h',
       'seville_rain_3h', 'seville_snow_3h', 'seville_clouds_all',
       'seville_weather_id', 'seville_weather_main',
       'seville_weather_description'],
      dtype='object')

In [81]:


run_pipeline(feature_data.drop(columns=['price_actual', 'price_day_ahead']))

array([[ 0.75506757,  0.32932933,  0.24178896, ..., -0.90096887,
         0.        ,  1.        ],
       [ 0.75844595,  0.32832833,  0.25935909, ..., -0.90096887,
         0.25881905,  0.96592583],
       [ 0.75675676,  0.32332332,  0.24243786, ..., -0.90096887,
         0.5       ,  0.8660254 ],
       ...,
       [ 0.49324324,  0.        ,  0.35065389, ...,  1.        ,
        -0.70710678,  0.70710678],
       [ 0.49493243,  0.        ,  0.32754318, ...,  1.        ,
        -0.5       ,  0.8660254 ],
       [ 0.48986486,  0.        ,  0.34571229, ...,  1.        ,
        -0.25881905,  0.96592583]])

In [80]:
def sin_transformer(period):
    return FunctionTransformer(lambda x: np.sin(x / period * 2 * np.pi))

def cos_transformer(period):
    return FunctionTransformer(lambda x: np.cos(x / period * 2 * np.pi))

def run_pipeline(X, max_categories = 10):
    
    ''' Runs provided features through preprocessing pipeline. 
        Object columns are one_hot_encoded. 
        Numeric columns are MinMaxScaled.
    
        Parameters:
                X (DataFrame): features
                max_categories: maximum  number of categories per feature (if more -> dropped)
                
        Returns:
                np.array
    '''
    
    one_hot_encoder = OneHotEncoder()
    min_max_scaler =  MinMaxScaler()

    features_categorical_nunique = X.select_dtypes(include='object').nunique()
    features_categorical = list(features_categorical_nunique[features_categorical_nunique <= max_categories].index)
    
    
    column_transformer = ColumnTransformer(
        transformers=[
            ("numeric_min_max", min_max_scaler, make_column_selector(dtype_include=np.number)),
            ("categorical", one_hot_encoder, features_categorical),
            ("month_sin", sin_transformer(12), ["month"]),
            ("month_cos", cos_transformer(12), ["month"]),
            ("weekday_sin", sin_transformer(7), ["day_of_week"]),
            ("weekday_cos", cos_transformer(7), ["day_of_week"]),
            ("hour_sin", sin_transformer(24), ["hour"]),
            ("hour_cos", cos_transformer(24), ["hour"]),
        ],
        remainder='drop') #passthrough or SCALER possible
        
    return column_transformer.fit_transform(X)

In [73]:
run_pipeline(X)

array([[ 0.24178896,  0.00845994,  0.34412712, ..., -0.90096887,
         0.        ,  1.        ],
       [ 0.25935909,  0.0086326 ,  0.29327893, ..., -0.90096887,
         0.25881905,  0.96592583],
       [ 0.24243786,  0.0086326 ,  0.23233842, ..., -0.90096887,
         0.5       ,  0.8660254 ],
       ...,
       [ 0.35065389,  0.00535221,  0.42078591, ...,  1.        ,
        -0.70710678,  0.70710678],
       [ 0.32754318,  0.00535221,  0.31543912, ...,  1.        ,
        -0.5       ,  0.8660254 ],
       [ 0.34571229,  0.00535221,  0.27137642, ...,  1.        ,
        -0.25881905,  0.96592583]])

In [ ]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer


# Specify which columns to MinMax scale, SinCos transform, and One hot encode
min_max_columns = ['generation_fossil_gas', 'generation_solar', 'total_load_forecast', 'valencia_temp',
       'barcelona_wind_speed']
categorical_columns = ['season', 'weekend']
cyclical_columns = ['hour', 'month', 'day_of_week']

# Create transformers for each feature type
numeric_transformer = Pipeline(steps=[
    ('scaler', MinMaxScaler())])


cyclical_transformer = Pipeline(steps=[
    ('ft', FourierTransformer(n_components=3))])


categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

# Use column transformer to apply transformers to each feature type
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, min_max_columns),
    ('cyc', cyclical_transformer, cyclical_columns),
    ('cat', categorical_transformer, categorical_columns)])

# Create the full pipeline with preprocessor and model
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', YourModelHere()) # replace with the 
])

# Fit and transform data
X = df.drop('target', axis=1)
y = df['target']
pipeline.fit(X, y)

In [ ]:
# Encoding the month feature
months_in_a_year = 12

data['sin_month'] = np.sin(2*np.pi*(data.month)/months_in_a_year)
data['cos_month'] = np.cos(2*np.pi*(data.month)/months_in_a_year)
data.drop(columns=['month'], inplace=True)

# Encoding the hour feature
hours_in_a_day = 12

data['sin_hour'] = np.sin(2*np.pi*(data.hour)/hours_in_a_day)
data['cos_hour'] = np.cos(2*np.pi*(data.hour)/hours_in_a_day)
data.drop(columns=['hour'], inplace=True)